/*--- SEÇÃO 1 --- */

.hero {
    margin-top: 2rem;
    position: relative; 
    text-align: center;
    color: var(--branco);
    border-radius: 8px;
    overflow: hidden; 
}

.hero-image img {
    width: 100%;
    height: 500px; 
    object-fit: cover; 
    filter: brightness(0.6); 
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; 
}

.hero-text h1 {
    font-size: 4.5rem;
    color: var(--dourado);
    margin: 0;
}
.hero-text h2 {
    font-size: 2rem;
    color: var(--branco-marmore);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*--- ESTILOS DO CARROSSEL ---*/

.secao-carrossel {
    margin-bottom: 3rem;
}

.secao-carrossel h2 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--roxo-principal);
    margin-bottom: 2rem;
}

.carrossel-container {
    position: relative; 
    max-width: 1100px; 
    margin: 0 auto;
    padding: 0 50px; 
}

/*Slides ficar fora*/
.carrossel-frame {
    overflow: hidden; 
    width: 100%;
}

.carrossel-track {
    display: flex; 
    list-style: none; 
    padding: 0;
    margin: 0;
    
    /* O JS vai mexer aqui */
    transition: transform 0.5s ease-out; 
}

.carrossel-slide {
    flex-shrink: 0; 
    width: 33.33%;  
    padding: 0 1rem; 
    box-sizing: border-box; 
}

.carrossel-slide .card {
    width: 100%;
    flex-basis: auto; 
    margin-bottom: 1rem;
    position: relative;
}

/* Botões */
.carrossel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    
    background: var(--roxo-principal);
    color: var(--dourado);
    border: 2px solid var(--dourado);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.carrossel-btn:hover {
    background: var(--dourado);
    color: var(--roxo-principal);
}

/*Botão de Anterior*/
.btn-prev {
    left: 0px;
}

/*Botão de Proximo*/
.btn-next {
    right: 0px; 
}

/*--- TAGS DE DEUSES/HEROIS ---*/

/* --------------------------------------------------- */
/* 8. ESTILO DAS TAGS (Deus, Semideus, Criatura)
/* --------------------------------------------------- */
.card-tag {
    position: absolute;
    top: 10px; 
    left: 10px;
    padding: 4px 10px; 
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--branco);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 0.5px; 
}

/* Cores das Tags */
.tag-deus {
    background-color: var(--dourado);  /* Dourado */
}

.tag-semideus {
    background-color: #25a9da; /* Azul */
}

.tag-heroi {
    background-color: #B91C1C; /* vermelho */
}

.tag-criatura {
    background-color: #1fb91c; /* Verde  */
}

.tag-feiticeira {
    background-color: var(--roxo-principal); /* Azul*/
}