/* --- TODAS AS SEÇÕES ---*/

.card-container {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
}

.card {
    background: var(--branco-marmore);
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    flex-basis: 320px; 
    text-align: center;
    overflow: hidden; 
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* --- SEÇÃO 1 ---*/

/* --- SEÇÃO 2 ---*/

/* --- SEÇÃO 3 ---*/

/* --- SEÇÃO 4 ---*/