/* --- SEÇÃO 1 ---*/

.hero {
    position: relative;
    text-align: center;
    color: var(--branco);
    overflow: hidden;
    width: 100%; 
    height: 100vh; 
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 100vh;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; 
}

.hero-text h1 {
    font-size: 4.5rem;
    color: var(--branco);
    margin: 0;
}
.hero-text h2 {
    font-size: 2rem;
    color: var(--dourado);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* --- SEÇÃO 2 ---*/

.cards-mulheres {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
}

.cards-mulheres h2 {
    width: 100%;
    text-align: center;
    margin: 1rem;
    font-size: 3rem;
}

.card {
    background: var(--branco-marmore);
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    flex-basis: 320px; 
    text-align: center;
    overflow: hidden; 
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-5px); 
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h3 {
    margin: 1rem 0 0.5rem 0;
    font-size: 2rem;
}

.card p {
    padding: 0 1rem 1.5rem 1rem;
    font-size: 0.95rem;
}

/* --- SEÇÃO 3 ---*/

.destaque {
    padding: 0 5rem 0 5rem;
    border-radius: 8px;
}

.destaque h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.container-destaque {
    display: flex; 
    align-items: center; 
    gap: 2rem; 
    flex-wrap: wrap; 
    margin-bottom: 2rem;
}

.destaque-imagem {
    flex: 1;
    min-width: 200px;
}

.destaque-imagem img {
    border-radius: 8px;
    border: 3px solid var(--dourado);
    transition: transform 0.4s ease;
}

.destaque-imagem img:hover  {
    transform: scale(1.05); /* Aumenta a imagem em 5% */
}

.destaque-texto {
    flex: 2; 
    min-width: 300px;
}

.destaque-texto h3 {
    font-size: 2rem;
    transition: text-shadow 0.3s ease;
}

.destaque h3:hover {
    transform: scale(1.05); /* Aumenta o título em 5% */
    text-shadow:0 0 5px var(--dourado), 
                0 0 10px var(--dourado);
}

.destaque-texto p {
    margin-top: 1rem;
    font-size: 1.05rem;
    margin-bottom: 1rem
}
