/* --- ESTILO DA PÁGINA DE MITOS --- */

main > h2 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--roxo-principal);
    margin-bottom: 2rem;
}

.mitos-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 2rem;
    background: var(--branco-marmore);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* SEÇÃO 1: A LISTA (MENU) */

.lista-mitos {
    flex: 1; 
    min-width: 250px; 
    border-right: 2px solid var(--roxo-principal);
    padding-right: 2rem;
}

.lista-mitos h3 {
    font-size: 1.5rem;
    color: var(--roxo-principal);
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
    font-family: 'MedievalSharp', cursive;
    font-weight: 400;
}

.lista-mitos ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

/* Botões */
.btn-mito {
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
    font-weight: 700;
    color: var(--texto-escuro);
    
    background: none;
    border: none;
    padding: 0.75rem 0.5rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
    
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-mito:hover {
    background-color: var(--roxo-principal);
    color: var(--branco);
}

/* SEÇÃO 2: O CONTEÚDO  */

.conteudo-mito {
    flex: 3; 
    min-width: 300px;
}

/* Estilo quando um mito é selecionado */
#mito-display-conteudo h3 {
    font-size: 2rem;
    color: var(--roxo-principal);
    margin-bottom: 1rem;
    font-family: 'MedievalSharp', cursive;
    font-weight: 400;
}

#mito-display-conteudo img {
    width: 45%;
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid var(--dourado);
}

#mito-display-conteudo p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

#mito-display-conteudo {
    display: flow-root; 
}

/* Estilo da mensagem inicial "Selecione um mito" */
#mito-display-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: #888;
}
.mito-imagem-inicial {
    width: 150px;
    opacity: 0.3;
}
