<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HERÓIS & DEUSES 🏛️</title>

    <!-- PRECONEXÕES GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- FONTES -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">

    <!-- ESTILOS -->
    <link rel="stylesheet" href="../css/herois.css">
    <link rel="stylesheet" href="../css/geral.css">

    <!-- SCRIPT -->
    <script src="../script.js" defer></script>
</head>

<body>
    <!-- CABEÇALHO E BARRA DE NAVEGAÇÃO -->
    <header>
        <h1>O Panteão Digital 🏛️</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="herois.html" class="active">Heróis</a></li>
                <li><a href="mitos.html">Mitos</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section>
            <div class="cards-container">
                <h2>Filhos de Cronos</h2>

                <div class="card">
                    <img src="../images/herois/zeus.png" alt="Zeus">
                    <h3>Zeus</h3>
                    <p>Rei dos deuses e governante do Monte Olimpo, Zeus é o deus do céu e do trovão.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/hera.png" alt="Hera">
                    <h3>Hera</h3>
                    <p>Rainha dos deuses e deusa do casamento e da família, Hera é a esposa de Zeus.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/poseidon.png" alt="Poseidon">
                    <h3>Poseidon</h3>
                    <p>Deus do mar, Poseidon é irmão de Zeus e Hera, e é conhecido por seu temperamento tempestuoso.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/hades.png" alt="Hades">
                    <h3>Hades</h3>
                    <p>Deus do submundo e dos mortos, Hades é outro irmão de Zeus e Hera.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/demeter.png" alt="Deméter">
                    <h3>Deméter</h3>
                    <p>Deusa da agricultura e da colheita, Deméter é irmã de Zeus, Hera, Poseidon e Hades.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/hestia.png" alt="Héstia">
                    <h3>Héstia</h3>
                    <p>Deusa do lar e da lareira, Héstia é a irmã mais velha de Zeus, Hera, Poseidon, Hades e Deméter.
                    </p>
                </div>
            </div>

        </section>

        <section>
            <div class="cards-container">
                <h2>Outros Deuses Importantes</h2>
                <div class="card">
                    <img src="../images/herois/apolo.png" alt="Apolo">
                    <h3>Apolo</h3>
                    <p>Deus do sol, da música e da profecia, Apolo é filho de Zeus e Leto.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/artemis.png" alt="Artemis">
                    <h3>Artemis</h3>
                    <p>Deusa da caça e da natureza, Artemis é irmã gêmea de Apolo e filha de Zeus e Leto.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/ares.png" alt="Ares">
                    <h3>Ares</h3>
                    <p>Deus da guerra, Ares é filho de Zeus e Hera, conhecido por sua natureza agressiva.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/afrodite.png" alt="Afrodite">
                    <h3>Afrodite</h3>
                    <p>Deusa do amor e da beleza, Afrodite é uma das figuras mais icônicas da mitologia grega.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/hefaistos.png" alt="Hefesto">
                    <h3>Hefesto</h3>
                    <p>Deus do fogo e da metalurgia, Hefesto é filho de Zeus e Hera, conhecido por sua habilidade como
                        ferreiro.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/hermes.png" alt="Hermes">
                    <h3>Hermes</h3>
                    <p>Mensageiro dos deuses e deus do comércio e dos ladrões, Hermes é filho de Zeus e Maia.</p>
                </div>
            </div>
        </section>

        <section>
            <h2>Semideuses & Heróis Famosos</h2>

            <div class="cards-container">
                <div class="card">
                    <img src="../images/herois/hercules.png" alt="Hércules">
                    <h3>Hércules</h3>
                    <p>Famoso por sua força extraordinária e por completar os Doze Trabalhos.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/perseu.png" alt="Perseu">
                    <h3>Perseu</h3>
                    <p>Conhecido por derrotar a Medusa e salvar Andrômeda.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/teseu.png" alt="Teseu">
                    <h3>Teseu</h3>
                    <p>Famoso por matar o Minotauro no labirinto de Creta.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/jason.png" alt="Jasão">
                    <h3>Jasão</h3>
                    <p>Líder dos Argonautas na busca pelo Velocino de Ouro.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/achilles.png" alt="Aquiles">
                    <h3>Aquiles</h3>
                    <p>Grande guerreiro da Guerra de Troia, conhecido por sua invulnerabilidade, exceto no calcanhar.
                    </p>
                </div>

                <div class="card">
                    <img src="../images/herois/odysseus.png" alt="Odisseu">
                    <h3>Odisseu</h3>
                    <p>Rei de Ítaca, famoso por sua astúcia e por sua longa jornada de volta para casa após a Guerra de
                        Troia.</p>
                </div>
            </div>
        </section>

        <section>
            <h2>Heróis Femininas</h2>

            <div class="cards-container">
                <div class="card">
                    <img src="../images/herois/atena.png" alt="Atena">
                    <h3>Atena</h3>
                    <p>Deusa da sabedoria e da guerra, Atena é uma das figuras mais importantes da mitologia grega.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/artemis.png" alt="Artemis">
                    <h3>Artemis</h3>
                    <p>Deusa da caça e da natureza, Artemis é conhecida por sua independência e força.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/afrodite.png" alt="Afrodite">
                    <h3>Afrodite</h3>
                    <p>Deusa do amor e da beleza, Afrodite é uma das figuras mais icônicas da mitologia grega.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/hippolyta.png" alt="Hipólita">
                    <h3>Hipólita</h3>
                    <p>Rainha das Amazonas, conhecida por sua força e liderança.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/medea.png" alt="Medeia">
                    <h3>Medeia</h3>
                    <p>Feiticeira poderosa, conhecida por sua inteligência e habilidades mágicas.</p>
                </div>

                <div class="card">
                    <img src="../images/herois/antigone.png" alt="Antígona">
                    <h3>Antígona</h3>
                    <p>Heroína trágica conhecida por sua coragem e lealdade à família.</p>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <p>Feito por Giselle Novaes| Projeto para o Curso Fic DJANGO</p>
    </footer>

    <script src="../script.js" defer></script>

</body>

</html>