<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O Panteão Digital</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/geral.css">
    <script src="../script.js" defer></script> 
</head>

<body>
    <header>
        <h1>O Panteão Digital 🏛️</h1>
        <nav>
            <ul>
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="herois.html">Heróis</a></li>
                <li><a href="mitos.html">Mitos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="hero-image">
                <img src="../images/MonteOlimpo.png" alt="Ilustração do Monte Olimpo">
            </div>

            <div class="hero-text">
                <h2>Explore os Mitos</h2>
                <h1>Da Grécia Antiga</h1>
            </div>
        </section>

        <section class="cards-mulheres"> 

            <h2>Grandes Heroínas</h2>

            <div class="card"> 
                <img src="../images/herois/atena.png" alt="Atena">
                <h3>Atena</h3>
                <p>Deusa da sabedoria e da guerra, Atena é uma das figuras mais importantes da mitologia grega.</p>
            </div>

            <div class="card"> 
                <img src="../images/herois/artemis.png" alt="Artemis">
                <h3>Artemis</h3>
                <p>Deusa da caça e da natureza, Artemis é conhecida por sua independência e força.</p>
            </div>

            <div class="card"> 
                <img src="../images/herois/afrodite.png" alt="Afrodite">
                <h3>Afrodite</h3>
                <p>Deusa do amor e da beleza, Afrodite é uma das figuras mais icônicas da mitologia grega.</p>
            </div>
        </section>

        <section class="destaque">
            <h2>Mitos Iconicos</h2>

            <div class="container-destaque">
                <div class="destaque-imagem">
                    <img src="../images/mitos/medusa.jpg" alt="Medusa">
                </div>
                
                <div class="destaque-texto">
                    <h3>Medusa</h3>
                    <p>Medusa é uma das Górgonas, conhecida por seu olhar que transforma em pedra quem a contempla. Ela é frequentemente associada à proteção e à transformação.</p>
                </div>
            </div>

            <div class="container-destaque">
                <div class="destaque-imagem">
                    <img src="../images/mitos/arpia.jpg" alt="Arpia">
                </div>
                
                <div class="destaque-texto">
                    <h3>Arpia</h3>
                    <p>As Arpias são criaturas aladas da mitologia grega, frequentemente retratadas como mulheres com garras de pássaro. Elas são conhecidas por roubar e transportar pessoas e coisas.</p>
                </div>
            </div>

            <div class="container-destaque">
                <div class="destaque-imagem">
                    <img src="../images/mitos/erinias.jpg" alt="Erínias ">
                </div>
                
                <div class="destaque-texto">
                    <h3>Erínias</h3>
                    <p>As Erínias, também conhecidas como Fúrias, são divindades da vingança na mitologia grega. Elas perseguem aqueles que cometeram crimes, especialmente crimes contra a família.</p>
                </div>
            </div>

            <div class="container-destaque">
                <div class="destaque-imagem">
                    <img src="../images/mitos/pentesileia.jpg" alt="Pentesileia">
                </div>

                <div class="destaque-texto">
                    <h3>Pentesileia</h3>
                    <p>Pentesileia é uma rainha das Amazonas, conhecida por sua habilidade em combate e por sua trágica história de amor com o herói grego Aquiles.</p>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <p>Feito por Giselle | Projeto para o Curso Fic DJANGO</p>
    </footer>

    <script src="../script.js" defer></script>

</body>
</html>