<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MITOS 🏛️</title>

    <!-- PRECONEXÕES GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- FONTES -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">

    <!-- ESTILOS -->
    <link rel="stylesheet" href="../css/mitos.css">
    <link rel="stylesheet" href="../css/geral.css">

    <!-- SCRIPT -->
    <script src="../script.js" defer></script> 
</head>

<body>
    <header>
        <h1>O Panteão Digital 🏛️</h1>
        <nav>
            <ul>
                <li><a href="index.html" >Home</a></li>
                <li><a href="herois.html">Heróis</a></li>
                <li><a href="mitos.html" class="active">Mitos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="pagina-temas">
            <h2> Mitos mais famosos</h2>
            <div class="cards-mitos">
                <div class="card-mito">
                    <img src="../images/mitos/pandora.png" alt="Pandora">
                    <h3>A caixa de Pandora</h3>
                    <p>
                        A história sobre como todos os males do mundo foram libertados quando Pandora abriu a caixa, e a esperança permaneceu no fundo.
                    </p>
                    </div>

                <div class="card-mito">
                    <img src="../images/mitos/minotauro.png" alt="Minotauro">
                    <h3>A jornada de Odisseu</h3>
                    <p>
                        A longa e árdua jornada de volta para casa do herói Odisseu após a Guerra de Troia. 
                    </p>
                </div>

                <div class="card-mito">
                    <img src="../images/mitos/medusaEperseu.png" alt="Perseu e Medusa">
                    <h3>Perseu e Medusa</h3>
                    <p>
                        A história do herói que enfrentou a górgona de cabelos de serpente para resgatar a princesa Andrômeda.                     </p>
                </div>

                <div class="card-mito">
                    <img src="../images/mitos/hercules.png" alt="Hércules">
                    <h3>As doze tarefas de Hércules</h3>
                    <p>
                        As tarefas impossíveis que o herói Héracles teve que cumprir como penitência. 
                    </p>
                </div>

                <div class="card-mito">
                    <img src="../images/mitos/teseu.png" alt="Teseu">
                    <h3>Teseu e o Minotauro</h3>
                    <p>
                        A aventura do herói Teseu ao matar o Minotauro no labirinto de Creta. 
                    </p>
                </div>

                <div class="card-mito">
                    <img src="../images/mitos/sisifo.png" alt="Sísifo">
                    <h3>Sísifo</h3>
                    <p>
                        O mito sobre o trabalho árduo e o sofrimento eterno, com Sísifo condenado a empurrar uma pedra montanha acima para sempre. 
                    </p>
                </div>

                <div class="card-mito">
                    <img src="../images/mitos/persefone.png" alt="Perséfone">
                    <h3>O rapto de Perséfone</h3>
                    <p>
                        A história que explica as estações do ano, com Perséfone sendo levada ao submundo por Hades e retornando à Terra, para a alegria de sua mãe, Deméter, a deusa da agricultura. 
                    </p>
                </div>

                <div class="card-mito">
                    <img src="../images/mitos/erosEpsique.png" alt="Eros e Psiquê">
                    <h3>Eros e Psiquê</h3>
                    <p>
                        A história de amor entre o deus do amor Eros e a mortal Psiquê, que enfrentou desafios para provar seu amor verdadeiro.
                    </p>
                </div>

                <div class="card-mito">
                    <img src="../images/mitos/dedaloEicaro.png" alt="Dédalo e Ícaro">
                    <h3>Dédalo e Ícaro</h3>
                    <p>
                        A história do inventor Dédalo e seu filho Ícaro, que voou muito perto do sol com asas de cera, resultando em sua queda fatal no mar. 
                    </p>
                </div>

                <div class="card-mito">
                    <img src="../images/mitos/icarus.png" alt="Ícaro">
                    <h3>Rei Midas</h3>
                    <p>
                        A história do rei que desejou que tudo que tocasse virasse ouro, e aprendeu o valor das coisas simples da vida depois de perceber que não poderia mais comer, abraçar sua filha, e nem sequer tocar em vinho. 
                    </p>
                </div>
            </div>
        </section>            
    </main>

    <footer>
        <p>Feito por Giselle Novaes| Projeto para o Curso Fic DJANGO</p>
    </footer>

</body>
</html>